name: cognite-python-sdk CI
# RERUN
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_deref_spec: 
    runs-on: ubuntu-latest
    container: node:10-slim
    steps:
    - name: Install dependencies for swagger-cli
      shell: bash
      run: |
        apt-get update && apt-get install -y curl && \
        npm install -g swagger-cli@3.0.1 && \
        curl 'https://storage.googleapis.com/cognitedata-api-docs/dist/v1.json' --output spec.json --compressed
    - name: Generate deref spec
      shell: bash
      run: |
        swagger-cli bundle -r spec.json -o deref-spec.json
    - name: Upload deref as artifact
      uses: actions/upload-artifact@v1
      with:
        name: deref-spec
        path: deref-spec.json
      
  build_and_test_python:
    needs: build_deref_spec
    runs-on: ubuntu-latest
    container:
      image: python:3.7.6-stretch
      env:
        ENV: env
    steps:
    - name: Download math result for job 1
      uses: actions/download-artifact@v1
      with:
        name: deref-spec
    - name: Build the environment 
      run: |
        export PATH="/github/home/.pyenv/bin:$PATH" 
        apt-get update && \
        apt-get purge libssl-dev -y && \
        apt-get install libssl1.0-dev -y && \
        curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash && \
        pyenv install 3.5.0 && \
        pyenv install 3.6.6 && \
        pyenv install 3.7.6 && \
        pyenv install 3.8.0
      shell: bash
      env: 
        PYTHON_3_5: /root/.pyenv/versions/3.5.0/bin/python
        PYTHON_3_6: /root/.pyenv/versions/3.6.6/bin/python
        PYTHON_3_7: /root/.pyenv/versions/3.7.6/bin/python
        PYTHON_3_8: /root/.pyenv/versions/3.8.0/bin/python
    - name: Install Pipenv
      run: |
        pip3 install pipenv
    - name: checkout src code
      uses: actions/checkout@v2
    - name: Install core dependencies
      run: |
        pipenv run pip install -r core-requirements.txt


