name: cognite-python-sdk CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_environment:
    runs-on: ubuntu-latest
    container:
      image: python:3.7.6-alpine
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash && \
        pyenv install 3.5.0 && \
        pyenv install 3.6.6 && \
        pyenv install 3.7.4 && \
        pyenv install 3.8.0
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"