name: cognite-python-sdk CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.7.2
    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: |
        apt-get update && \
        apt-get purge libssl-dev -y && \
        apt-get install libssl1.0-dev -y && \
        curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash && \
        pyenv install 3.5.0 && \
        pyenv install 3.6.6 && \
        pyenv install 3.7.4 && \
        pyenv install 3.8.0
      env: 
        PYTHON_3_5: /root/.pyenv/versions/3.5.0/bin/python
        PYTHON_3_6: /root/.pyenv/versions/3.6.5/bin/python
        PYTHON_3_7: /root/.pyenv/versions/3.7.4/bin/python
        PYTHON_3_8: /root/.pyenv/versions/3.8.0/bin/python
        HOME:  /root
        PYENV_ROOT: $HOME/.pyenv
      PATH: $PYENV_ROOT/bin:$PATH 
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
  