name: cognite-python-sdk CI
# RERUN
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_deref_spec: 
    runs-on: ubuntu-latest
    container: node:10-slim
    steps:
    - name: Install dependencies for swagger-cli
      shell: bash
      run: |
        apt-get update && apt-get install -y curl && \
        npm install -g swagger-cli@3.0.1 && \
        curl 'https://storage.googleapis.com/cognitedata-api-docs/dist/v1.json' --output spec.json --compressed
    - name: Generate deref spec
      shell: bash
      run: |
        swagger-cli bundle -r spec.json -o deref-spec.json
    - name: Upload deref as artifact
      uses: actions/upload-artifact@v1
      with:
        name: deref-spec
        path: deref-spec.json
      
  build_and_test_python:
    needs: build_deref_spec
    runs-on: ubuntu-latest
    steps:
    - name: Download the deref-spec for API testing 
      uses: actions/download-artifact@v1
      with:
        name: deref-spec
    - name: checkout src code from repo
      uses: actions/checkout@v2
    - name: Install core dependencies and test Core
      env:
        COGNITE_API_KEY: ${{ secrets.integration_test_api_key }}
        CODECOV_TOKEN: ${{ secrets.cognite_sdk_python }}
        COGNITE_BASE_URL: https://greenfield.cognitedata.com
        COGNITE_CLIENT_NAME: python-sdk-integration-tests
        COGNITE_PROJECT: python-sdk-test
        CI: '1'
        BRANCH_NAME: ${GITHUB_REF##*/}
      uses: ./.github/actions/check-core-action
        


