name: cognite-python-sdk CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_environment:
    runs-on: ubuntu-latest
    container:
      image: python:3.7.6-stretch
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        export PATH="/github/home/.pyenv/bin:$PATH" 
        apt-get update && \
        apt-get purge libssl-dev -y && \
        apt-get install libssl1.0-dev -y && \
        curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash && \
        pyenv install 3.5.0 && \
        pyenv install 3.6.6 && \
        pyenv install 3.7.6 && \
        pyenv install 3.8.0
      shell: bash
      env: 
        PYTHON_3_5: /root/.pyenv/versions/3.5.0/bin/python
        PYTHON_3_6: /root/.pyenv/versions/3.6.6/bin/python
        PYTHON_3_7: /root/.pyenv/versions/3.7.6/bin/python
        PYTHON_3_8: /root/.pyenv/versions/3.8.0/bin/python
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"